.container{
  max-width: 100vw;
  max-height: 100vh;
}

.food-container {
    width: 50%;
    margin: auto;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    background-color: #66BB6A;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pagination-controls button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-size: 18px;
    margin: 0 10px;
  }
  
  .pagination-controls button:hover {
    background-color: #57A857;
  }
  