<div>
    <app-date-picker (datePickedEmitter)="dateRecived($event)"></app-date-picker>
</div>

<div class="parent">
    <div class="div1">
        <p>Comidas</p>
        <app-meal-list [meal]="meal"></app-meal-list>
    </div>
    <div class="div2">
       <app-meal-chart [meal]="meal"></app-meal-chart>   
    </div>
    <div class="div3">
        <h3>Aca va el resultado del dia con un mensaje </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati alias consectetur molestiae velit! Rerum quasi, voluptatem unde quod laboriosam enim doloremque optio, explicabo aliquam sapiente assumenda quidem illo minima fugiat.</p>
    </div>
    
</div>