<div class="meal-info">
  <div *ngIf="meal">
    <h3>{{ meal.date }}</h3>

    <div class="foods">
      <div *ngFor="let type of mealTypes">
        <h4>{{ type | titlecase }}</h4>
        <div *ngIf="meal && meal[type] && meal[type].length > 0; else noFoods">
          <div *ngFor="let food of meal[type]">
            <!-- Mostrar el nombre del alimento y su cantidad -->
            {{ food.name }} ({{ food.gramQuantity }}g)
            <button (click)="startEditingFood(type, food.id)">Editar</button>
            <button (click)="removeFood(type, food.id)">Eliminar</button>

            <!-- Input de edición solo si está en modo edición -->
            <div *ngIf="editingFoodId === food.id">
              <input
                type="number"
                [(ngModel)]="newGramQuantity"
                [min]="10"
                [max]="1000"
                (blur)="cancelEditing()"
              />
              <button (click)="updateFoodQuantity(type, food.id)">Guardar</button>
              <button (click)="cancelEditing()">Cancelar</button>
            </div>
          </div>
        </div>
        <ng-template #noFoods>
          <p>No foods added</p>
        </ng-template>
        <button (click)="openModal(type)">Add Food</button>
      </div>
    </div>

    <app-modal
      *ngIf="selectedTypeMeal"
      [mealId]="meal.id!"
      [typeMeal]="selectedTypeMeal"
      [comida]="meal"
      (modalClosed)="closeModal()"
    >
    </app-modal>
  </div>
</div>
