<div class="meal-info">
    <h3>{{ meal?.date }}</h3> <!-- Fecha de la comida -->
  
    <div class="foods">
      <div *ngFor="let food of meal?.breakfast || []">
        <div *ngIf="meal?.breakfast">
            {{ food.name }} ({{ food.gramQuantity }}g)
        </div>
      </div>
      <div *ngFor="let food of meal?.lunch || []">{{ food.name }} ({{ food.gramQuantity }}g)</div>
      <div *ngFor="let food of meal?.snack || []">{{ food.name }} ({{ food.gramQuantity }}g)</div>
      <div *ngFor="let food of meal?.dinner || []">{{ food.name }} ({{ food.gramQuantity }}g)</div>
      <div *ngFor="let food of meal?.dessert || []">{{ food.name }} ({{ food.gramQuantity }}g)</div>
    </div>

  </div>
  