<div class="meal-info">
  <div *ngIf="meal">
    <div class="foods">
      <div *ngFor="let type of mealTypes">
        <h4>{{ type | titlecase }}</h4>
        <div *ngIf="meal && meal[type] && meal[type].length > 0; else noFoods">
          <div *ngFor="let food of meal[type]">
            {{ food.name }} ({{ food.gramQuantity }}g)
            <button (click)="startEditingFood(type, food.id)">Editar</button>
            <button (click)="removeFood(type, food.id)">Eliminar</button>

            <div *ngIf="editingFoodId === food.id">
              <!-- Usamos el formulario reactivo -->
              <form [formGroup]="foodForm">
                <input
                type="number"
                formControlName='gramQuantity'
                [min]="10"
                [max]="1000"
                
                id="gramQuantity-{{food.id}}"  
                name="gramQuantity-{{food.id}}"
              />
              <button (click)="updateFoodQuantity(type, food.id)">Guardar</button>
              <button (click)="cancelEditing()">Cancelar</button>
              </form>
            </div>
          </div>
        </div>
        <ng-template #noFoods>
          <p>No foods added</p>
        </ng-template>
        <button (click)="openModal(type)">Add Food</button>
      </div>
    </div>

    <app-modal
      *ngIf="selectedTypeMeal"
      [mealId]="meal.id!"
      [typeMeal]="selectedTypeMeal"
      [comida]="meal"
      (modalClosed)="closeModal()"
    >
    </app-modal>
  </div>
</div>
