<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<header class="header">
  <ul>
    <li class="logo-item">
      <a (click)="navigateToHome()"><img class="logo" src="https://github.com/faustofuertes/faustofuertes.github.io/blob/master/img/logoFinal.png?raw=true" alt="Logo"></a>
    </li>
    <li *ngIf="!isLoggedIn"><a (click)="navigateToHome()">Home</a></li>
    <li><a (click)="navigateToFoods()">Food</a></li>
    <li><a (click)="navigateToRecipes()">Recipes</a></li>
    <li *ngIf="!isLoggedIn"><a class="nav-item" (click)="login()">Sign In</a></li>
    <li *ngIf="!isLoggedIn"><button class="btn-empezar" (click)="navigateToRegister()">Register</button></li>
    <li *ngIf="isLoggedIn"><a class="nav-item" (click)="navigateToUserProfile()">Profile</a></li>

    <li *ngIf="isLoggedIn">
      <button class="btn-nutriTrack" (click)="navigateToNutriTrack()">
        <span class="text">My Nutri Track</span>
      </button>
    </li>

    <li *ngIf="isLoggedIn" (click)="logout()">
      <a class="logout"><i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</header>