<header class="header">
  <nav class="nav">
    <!-- Contenedor del logo -->
    <div class="logo">
      <a (click)="navigateToHome()"><img src="logo-mynutrittrack.png" alt="Logo" class="logo-img" /></a> 
    </div>
    <!-- Contenedor de los enlaces de navegación -->
    <ul>
      <li><a (click)="navigateToFoods()">Food</a></li>
      <li><a (click)="navigateToRecipes()">Recipes</a></li>
      <li *ngIf="!isLoggedIn"><a class="btn-signin" (click)="login()">Sign In</a></li>
      <li *ngIf="!isLoggedIn"><a class="btn-register" (click)="navigateToRegister()">Register</a></li>
      <li *ngIf="isLoggedIn"><a (click)="navigateToUserProfile()">Profile</a></li>
      <li *ngIf="isLoggedIn"><a (click)="navigateToNutriTrack()">My Nutri Track</a></li>
      <li *ngIf="isLoggedIn"><a class="btn-logout" (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>
