/* Contenedor general del header */
.header {
    background: linear-gradient(to bottom, var(--celadon-2), white);
}
  
  /* Contenedor de la navegación */
  .nav {
    display: flex;
    justify-content: space-between; /* Distribuye el logo y la navegación */
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  
  /* Logo alineado a la izquierda */
  /* Estilo específico para el enlace del logo */
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    padding: 0; /* Eliminar padding */
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer;
    margin-left: 30px;
  }
  
  /* Imagen del logo */
  .logo-img {
    height: 50px; /* Ajusta la altura según lo que necesites */
    width: auto;  /* Mantiene la proporción del logo */
    transition: transform 0.2s ease;
  }
  
  .logo-img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
  }
  
  
  /* Lista de navegación alineada a la derecha */
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
  }
  
  /* Estilo de los enlaces de navegación */
  a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    min-width: 120px;
    text-decoration: none;
    border-radius: 1rem;
    background-color: var(--dark-pastel-green);
    color: var(--creamy-white);
    font-weight: bold;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  /* Hover con zoom y cambio de color */
  a:hover {
    background-color: var(--malachite); /* Fondo más claro */
    color: var(--white);                /* Texto blanco */
    transform: scale(1.1);              /* Zoom al pasar el cursor */
  }
  
  /* Botón Sign In */
  .btn-signin {
    background-color: var(--dark-blue);
  }
  
  .btn-signin:hover {
    background-color: var(--medium-blue);
  }
  
  /* Botón Register */
  .btn-register {
    background-color: var(--deep-orange);
  }
  
  .btn-register:hover {
    background-color: var(--light-orange);
  }
  
  /* Botón Logout */
  .btn-logout {
    background-color: var(--blood-red);
  }
  
  .btn-logout:hover {
    background-color: var(--light-red);
  }
  
  /* Alinear en el centro y adaptar para pantallas pequeñas */
  @media screen and (max-width: 700px) {
    .nav {
      flex-direction: column;
      align-items: center;
    }
  
    ul {
      flex-direction: column; /* Cambiar a columna */
      align-items: center;    /* Centrar los botones */
      width: 100%;
    }
  
    a {
      width: 100%; /* Ocupa todo el ancho disponible */
      text-align: center;
    }
  }
  