
.wrapper {
    min-height: 100%; /* Hace que el contenedor principal ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    border: 5px solid black;
  }
  
  /* El contenido principal va a ocupar el espacio disponible */
  .main-content {
    flex: 1; /* Hace que el contenido ocupe el máximo espacio posible */
    max-width: 100vw;
  }
  
.weather {
  width: 100%; /* Por defecto ocupa todo el ancho */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease; /* Transición suave */
}

/* Estilo cuando el modal está cerrado */
.weather.closed {
  width: 50vw; /* 50% del ancho de la pantalla */
  height: auto; /* Ajusta la altura según el contenido */
  margin: 20px auto; /* Centrado horizontal */
  padding: 20px;
  background-color: #f4f4f4; /* Fondo claro */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .weather.closed {
    width: 80vw; /* Reduce el ancho en pantallas pequeñas */
    padding: 15px;
  }
}


header{
    max-width: 100vw;
}