<div class="container">
    <div class="graf">
         <app-progress-bar [caloriesConsumed]="totalCalories" [caloriesNeeded]="caloriasUsuario"></app-progress-bar>
    </div>

    <div class="macros">
        <p><span class="color">Calories:</span> {{ totalCalories | number: '1.2-2' }} kcal</p>
        <p><span class="color">Proteins:</span> {{ totalProteins | number: '1.2-2' }} gr</p>
        <p><span class="color">Fats:</span> {{ totalFats | number: '1.2-2' }} gr</p>
        <p><span class="color">Carbs:</span> {{ totalCarbs | number: '1.2-2' }} gr</p>
    </div>

</div>