.recetas-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .recetas-list {
    margin-top: 20px;
  }
  
  .receta-container-odd {
    background-color: #f9f9f9; /* Fondo claro */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.621);
  }
  
  .receta-container-even {
    background-color: #ececec; /* Fondo un poco más oscuro */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.621);
  }
  
  .receta-container-odd h4, .receta-container-even h4 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .receta-image {
    width: 50%; /* Reduzco la imagen al 500% de su tamaño original */
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  h5 {
    font-weight: bold;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  button {
    width: 100%;
  }
  
  .btn {
    margin-top: 15px;
    width: 100%;
  }
  