<google-chart
  [title]="title"
  [type]="type"
  [data]="data"
  [options]="options"
  [width]="width"
  [height]="height">
</google-chart>


<div class="calories-summary-card">
  <h2>Resumen de Consumo Calórico</h2>
  <div class="calories-info">
    <p><strong>Calorías Objetivo:</strong> {{ caloriesNeededRecieved?.toFixed(2) }}</p>
    <p><strong>Calorías Consumidas:</strong> {{ totalCaloriesMeal?.toFixed(2) }}</p>
  </div>

  <p class="calories-message" *ngIf="caloricMessage">{{ caloricMessage }}</p>
</div>